<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!-- 驼峰命名自动转换, 数据库字段与Java 成员变量之间, 下划线与驼峰分隔-->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!-- pagehelper 插件 -->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!-- 设置数据库类型 -->
            <property name="helperDialect" value="mysql"/>
            <!-- 分页合理化,也就是说如果超过最大页数就返回最后一页 -->
            <property name="reasonable" value="true"/>
        </plugin>
    </plugins>

    <!-- 默认选择开发环境 -->
    <environments default="dev">
        <!-- 配置不同的数据库链接环境-->
        <environment id="dev">
            <!-- 采用JDBC方式对数据库事务进行commit/rollback -->
            <transactionManager type="JDBC"></transactionManager>
            <!-- 采用 MyBatis 连接池方式管理数据库连接 -->
<!--            <dataSource type="POOLED">-->
<!--                <property name="driver" value="com.mysql.jdbc.Driver"/>-->
<!--&lt;!&ndash;                <property name="url" value="jdbc:mysql://localhost:3306/jdbc?useSSL=false&amp;&ndash;&gt;-->
<!--&lt;!&ndash;                useUnicode=true&amp;characterEncoding=UTF-8&amp;serverTimezone=Asia/Shanghai&amp;&ndash;&gt;-->
<!--&lt;!&ndash;                allowPublicKeyRetrieval=truenull"/>&ndash;&gt;-->
<!--                <property name="url" value="jdbc:mysql://localhost:3306/babytun?useSSL=false&amp;-->
<!--                useUnicode=true&amp;characterEncoding=UTF-8&amp;serverTimezone=Asia/Shanghai&amp;-->
<!--                allowPublicKeyRetrieval=truenull"/>-->
<!--                <property name="username" value="root"/>-->
<!--                <property name="password" value="123456"/>-->
<!--            </dataSource>-->

            <!-- C3P0 连接池 -->
            <dataSource type="indi.chester.mybatis.datasource.C3P0DataSourceFactory">
                <property name="driverClass" value="com.mysql.jdbc.Driver"/>
                <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/?useSSL=false&amp;
                                useUnicode=true&amp;characterEncoding=UTF-8&amp;serverTimezone=Asia/Shanghai&amp;
                                allowPublicKeyRetrieval=truenull"/>
                <property name="user" value="root"/>
                <property name="password" value="123456"/>
                <property name="initialPoolSize" value="5"/> <!-- 连接池初始连接数 -->
                <property name="minPoolSize" value="5"/> <!-- 连接池最小连接数 -->
                <property name="maxPoolSize" value="20"/> <!-- 连接池最大连接数 -->
                <property name="acquireIncrement" value="4"/> <!-- 连接池一次性增加的连接数 -->
                <property name="maxIdleTime" value="3"/>

            </dataSource>
            
        </environment>

        <!-- 线上生产环境 -->
        <environment id="prd">
            <!-- 采用JDBC方式对数据库事务进行commit/rollback -->
            <transactionManager type="JDBC"></transactionManager>
            <!--采用连接池方式管理数据库连接-->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <!-- 瞎写一个链接 -->
                <property name="url" value="jdbc:mysql://192.168.1.188:3306/?useUnicode=true&amp;characterEncoding=UTF-8"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mappers/goods.xml" />
        <mapper resource="mappers/student.xml" />
        <mapper resource="mappers/classroom.xml" />
    </mappers>

    

</configuration>